/* 基本的なリセットとフォント設定 */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: rgb(0,0,0);
    background-color: hsl(100,100,100);
}

/* ヘッダーセクションのスタイリング */
header {
    background-color: color(srgb 0 0.5 1 / 1);;
    color: white;
    padding: 20px;
    text-align: center;
}

/* メインセクションとセクション内のデザイン */
main {
    padding: 20px;
}

section {
    background: #ffffff;
    margin-bottom: 20px;
    padding: 20px;
    border-style: groove;
    border-color: red;
    border-width: 2px;
    border-radius: 8px;
}

/* タイトルとサブタイトル */
h1, h2, h3 {
    margin: 0cm 0cm 1cm 0cm;
}

/* ナビゲーションとリスト */
nav ol {
    list-style-type: none;
    padding: 0;
    margin: auto
}

nav ol li {
    background: color-mix(in srgb, #ff0000 50%, #00ff00 50%);;
    padding: 8px;
    margin-bottom: 5mm;
}

/* 画像のスタイリング */
img {
    max-width: 1vw;
    height: auto;
    display: block;
    margin: 0 auto;
}

/* フォームのスタイリング */
form {
    margin-top: 0.1vh;
    background: #f8f8f8;
    padding: 0.5em;
    border-radius: 8px;
}

input[type="text"],
input[type="date"],
input[type="radio"],
textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
    display: block;
}

button {
    background-color: #28a745;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

/* フッターのスタイリング */
footer {
    background-color: #343a40;
    color: #ffffff;
    text-align: center;
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* メディアクエリー */
@media (max-width: 768px) {
    body {
        background-color: #ccc;
    }
}
